html{
  background: linear-gradient(#FFC8E3,#C0F7FE);
  background-size: 3000px 1000px;
}
title {
  font: Times;
}
h1 {
  font: Times;
  font-size: 50px;
  color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 8em
}
p1 {
  font-size: 30px;
  text-align: center;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
#bio
 {
   font: Times;
   font-size: 24px;
   text-align: center;
 }
 .dropbtn {
     background-color: #bf8293;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
     cursor: pointer;
 }

 .dropbtn:hover, .dropbtn:focus {
     background-color: #bf8293;
 }

 #myInput {
     border-box: box-sizing;
     background-image: url('searchicon.png');
     background-position: 14px 12px;
     background-repeat: no-repeat;
     font-size: 16px;
     padding: 14px 20px 12px 45px;
     border: none;
     border-bottom: 1px solid #ddd;
 }

 #myInput:focus {outline: 3px solid #ddd;}

 .dropdown {
     position: relative;
     display: inline-block;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f6f6f6;
     min-width: 230px;
     overflow: auto;
     border: 1px solid #ddd;
     z-index: 1;
 }

 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
 }

 .dropdown a:hover {background-color: #ddd}

 .show {display:block;}
 .fa {
   padding: 20px;
   font-size: 30px;
   width: 50px;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
 }

 .fa-facebook {
   background: #3B5998;
   color: white;
 }

 .fa-twitter {
   background: #55ACEE;
   color: white;
 }

 .fa-youtube {
   background: #bb0000;
   color: white;
 }

 .fa-instagram {
   background: #125688;
   color: white;
 }

 .fa-pinterest {
   background: #cb2027;
   color: white;
 }
 .footer {
     height:100px;
     width: 100%;
     background-image: none;
     background-repeat: repeat;
     background-attachment: scroll;
     position: fixed;
     text-align: center;
     padding: 1rem;
     bottom: 0;
     left: 0;
     right: 0;
   }
   .footer_contents {

    height:24px; // Replace with the height your footer should be
    width: 1000px; // Visible width of footer
    margin:auto;

}

 .fa-snapchat-ghost {
   background: #fffc00;
   color: white;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }
 div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
